html{
    font-size: 16px;
}

body{
    height: 100vh;
}

.center{
    width: 30%;
    opacity: .8;
    position: absolute;
    left: 35%;
    bottom: 20%;
    z-index: -999;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
}

main{
    height: 70%;
    top: 0;
    overflow: auto;
}

.main-strech{
    height: 70%;
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header img {
    max-width: 35vw;
}

.portal{
    max-height: 50vh;
}

.gifs-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.left-panel{
    width: 30%;
    height: 70%;
    position: absolute;
    bottom: 0;
    left: -30%;
    transition: left 0.4s;
    justify-content: space-around;
}

.sidebar{
    color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.width-control{
    width: 100%;
    justify-self: center;
}


.left-panel::after {
    content: "";
    background-image: url(/assets/images/PORTADA_ESTRELLAS.jpg);
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.checkbox:checked ~ .left-panel {
    left: 0;
}

.checkbox {
    display: none;
}
.menu{
    width: 2.2rem;
    height: 2.7rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 30%;
    left: 4%;
    font-size: 2rem;
    text-align: center;
    transition: left 0.7s;
}

.checkbox:checked ~ .menu {
    left: 29%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.bold-and-pointer:hover{
    font-size: 1.55rem;
    cursor: pointer;
}

.boldito-and-pointer:hover{
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid;
}

.chapters{
    font-size: 1.4rem;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
}

.hidden{
    display: none;
}

#episode{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

.character{
    padding: 30px 0 30px 0;
    font-size: 2rem;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width:32px;
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-image: url(/assets/images/pickle-small.png);
    background-repeat: no-repeat;
    background-size: 30px 100px;
    background-position: 50%;
    border-radius: 20px;
}

#episode::-webkit-scrollbar-thumb {
    background-image: url(/assets/images/pickle-small.png);
    background-repeat: no-repeat;
    /* background-size: 30px auto; */
    /* background-position: 50%; */
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

#character{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.character-wrapper{
    display: flex;
}

.complete-character-info-wrapper{
    font-size: 2rem;
    align-items: flex-start;
    padding-left: 30px;
}

.season{
    width: 100%;
}